@import url("https://use.typekit.net/pak7ttl.css");

:root {
--mountains: rgba(85, 145, 108, 1);
--sea: rgba(88, 175, 201, 1);
--sun: rgba(255, 216, 79, 1);
--night: rgba(103, 61, 171, 1);
--powdersnow: rgba(252, 252, 252, 1);
}

body {
font-family: "futura-pt", sans-serif;
color: #172E35;
}

header
{
font-size: 3em;
font-weight:bold;
color:var(--sun);
margin-left:10%;
}

.container_1 {
width:100%;
height:100%;
text-align:center;
margin:0 auto;}

form {
  width: 80%;
  margin: 0 auto;
  font-family: "futura-pt", sans-serif;
  padding: 10px;
}
form fieldset {
  border: none;
  font-weight: normal;
}
form input[type="text"],
form input[type="email"],
form textarea {
  box-sizing: border-box;
  outline: none;
  display: block;
  color: #333;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 18px;
  height: 45px;
}
form textarea {
  height: 200px;
}
form button[type="submit"] {
  display: block;
  padding: 19px 19px 18px 19px;
  color: #fff;
  background: var(--mountains);
  font-family: "futura-pt-bold", sans-sans-serif;
  font-size: 18px;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-top: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}
form button[type="submit"]:hover {
  background: var(--sea);
}

@media screen and (orientation: portrait) {
  img { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img { max-height: 90%; }
}
@media only screen and (max-width: 600px) {
    form {
        font-size:2em;
    }
}
